#main {
    background-color: rgb(0, 0, 0);
    border: 1px rgb(168, 121, 121) solid;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    width: 450px;
    top: 100px;
}

#selection {
    padding: 10px;
    padding-left: 50px;
    margin-bottom: 10px;
    background-color: rgb(0, 0, 0);
}

#wght {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    margin-left: -10px;
}

#hght {
    background-color: rgb(0, 0, 0);
    color: white;
    margin-left: 110px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

#dis {
    background-color: rgb(0, 0, 0);
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
}

#Weig {
    background-color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    margin-left: -10px;
}

#hight {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 30px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
}

#fistrow {
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 5px;

    & #funct1 {
        color: orange;
        margin-left: 10px;
    }

    & #funct2 {
        color: orange;
        margin-left: 20px;
    }

    & #funct3 {
        color: orange;
        margin-left: 28px;
    }

    & #under {
        font-size: 14px;
        margin-left: 50px;
        color: rgb(255, 255, 255);
    }
}

#secrow {
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    display: flex;
    padding: 5px;

    & #norml3 {
        margin-left: 10px;
    }

    & #norml4 {
        margin-left: 40px;
    }

    & #norml5 {
        margin-left: 41px;
    }

    & #normal {
        color: rgb(255, 255, 255);
        font-size: 14px;
        margin-left: 50px;
    }
}

#thdrow {
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    display: flex;
    padding: 5px;

    & #norml8 {
        margin-left: 10px;
    }

    & #norml9 {
        margin-left: 39px;
    }

    & #norml10 {
        margin-left: 42px;
    }

    & #over {
        color: rgb(255, 255, 255);
        font-size: 14px;
        margin-left: 50px;
    }
}

#forrow {
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    padding: 5px;

    & #norml13 {
        margin-left: 10px;
    }

    & #norml14 {
        margin-left: 35px;
    }

    & #norml15 {
        margin-left: 38px;
    }

    & #norml16 {
        margin-left: 38px;
    }

    & #norml17 {
        margin-left: 38px;
    }
}

#an {
    background-color: rgb(0, 0, 0);
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

#output-display {
    background-color: rgb(0, 0, 0);
    border-width: 0px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    color: gray;
    cursor: default;
}